<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>

        <div class="row">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-error">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
        </div>

        {% block menu %}
            <nav class="nav">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('link.add') }}">Add a new link</a></li>
                </ul>
            </nav>
        {% endblock %}

        <div class="col-sm-8 col-sm-offset-2">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
