{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Destination</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>Tracking Link</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td>{{ link.name }}</td>
                    <td>{{ link.destination }}</td>
                    <td>{{ stats[link.id].impressions|default(0) }}</td>
                    <td>{{ stats[link.id].clicks|default(0) }}</td>
                    <td>
                        <a href="http://codetest.dev{{ path('click') }}?linkId={{ link.id }}" onclick="reload()" target="_blank">
                        <pre>http://codetest.dev{{ path('click') }}?linkId={{ link.id }}</pre>
                        </a>
                    </td>
                    <td>
                        <a href="link/edit/{{ link.id }}">
                            Edit Link
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
  
{% block javascripts %}
        <script>
            function reload() {
              location.reload();
            }
        </script>
{% endblock %}